extends layout

block content
	.form_container#detail_container
		h2 用户#{title}
		#repeat_notice #{info}
		#info_container
			.info_item 用户名：#{username}
			.info_item 学号：#{student_id}
			.info_item 电话：#{phone_number}
			.info_item 邮箱：#{email_address}
		.button_area
			input(type='button', id='Logout', value='退出')
	script(src='/javascripts/detail.js', type='text/javascript')